certifi==2020.6.20
chardet==3.0.4
dateparser==0.7.6
fitdecode==0.6.0
humanize==2.6.0
idna==2.10
loguru==0.5.1
maya==0.6.1
numpy==1.19.1
pandas==1.1.0
pendulum==2.1.2
pyarrow==1.0.0
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
pytzdata==2020.1
regex==2020.7.14
requests==2.24.0
six==1.15.0
snaptime==0.2.4
stravaio==0.0.9
tzlocal==2.1
urllib3==1.25.10
